/* Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
   SPDX-License-Identifier: Apache-2.0 */
.chat-textarea {
    width: 100%
}

.chat-message-container {
    width: 100%
}

.chat-user {
    background-color: rgb(1, 94, 188);
    color: #fff;
    padding: 4px 10px;
    margin-top: 5px;
}

.chat-assistant {
    background-color: rgb(209, 209, 209);
    color: #000;
    padding: 4px 10px;
}

.chat-assistant.error {
    background-color: rgb(245, 178, 178);
}

.chat-composer-container {
    margin-top: 10px;
}

.time {
    font-size: 9px;
}

/* HTML: <div class="loader"></div> */
.loader {
    width: 60px;
    aspect-ratio: 2;
    --_g: no-repeat radial-gradient(circle closest-side, #000 90%, #0000);
    background:
        var(--_g) 0% 50%,
        var(--_g) 50% 50%,
        var(--_g) 100% 50%;
    background-size: calc(100%/5) 60%;
    animation: l3 1s infinite linear;
    margin: 10px 5px;
}

@keyframes l3 {
    20% {
        background-position: 0% 0%, 50% 50%, 100% 50%
    }

    40% {
        background-position: 0% 100%, 50% 0%, 100% 50%
    }

    60% {
        background-position: 0% 50%, 50% 100%, 100% 0%
    }

    80% {
        background-position: 0% 50%, 50% 50%, 100% 100%
    }
}